repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: detect-private-key

  - repo: local
    hooks:
      - id: gitleaks
        name: "Gitleaks v8 scan for secrets"
        entry: gitleaks detect --source=. --report-path=.gitleaks-precommit.json --report-format=json --exit-code=1
        language: system
        types: [python, javascript, yaml, sh]


  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.10

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml']
        additional_dependencies: ['bandit[toml]']
